/* start of services animation  */

.fadeInLeft {
  opacity: 0;
  transform: translateX(-200px);   
  transition: opacity 1.2s, transform 1.2s;
}

.fadeInRight {
  opacity: 0;
  transform: translateX(200px);   
  transition: opacity 1.2s, transform 1.2s;
}

.fadeInBottom {
  opacity: 0;
  transform: translateY(200px);   
  transition: opacity 1.2s, transform 1.2s;
}

.startAnimation {
  animation: fadeInAnimation 1.2s ease forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .startAnimation1 {
    animation-delay: .3s;
  }
  .startAnimation2 {
    animation-delay: .6s;
  }
  .startAnimation3 {
    animation-delay: .9s;
  }
}


/* end of services animation  */


/* APPEAR DISAPPEAR ANIMATION START */
@keyframes fadeInScaleUp {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutScaleDown {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.appear {
  animation: fadeInScaleUp 1.5s ease forwards;
}

.disappear {
  animation: fadeOutScaleDown 1.5s ease forwards;
}
/* END */

/* BOUNCE START */

@keyframes bounceAnimation {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounceAnimation 1.5s ease;
}

/* BOUNCE END */

/* JIGGLE START */

@keyframes jiggleAnimation {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.jiggle {
  animation: jiggleAnimation 0.5s ease both;
}

/* JIGGLE END */