@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mypink: #cd9c7b;
  --finn: #653050;
  --raffia: #e9e0b5;
  --chromewhite: #ddf1d3;
  --nevada: #5c686f;
  --xanadu: #7d847d;
  --coraltree: #ab6465;
  --rainee: #bbc5ac;
  --sepiaskin: #965a43;
  margin-top: 0px;
}

#root {
  /* font-family: 'Roboto Mono', monospace; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  box-sizing: border-box;
  position: relative;
  min-width: 0;



  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
}
.nav-link {
  
  &[data-hovered] {
    color: var(--finn);
    /* text-decoration-style: underline; */
    box-shadow: 0px 0px .75rem .75rem #6530504c;
    border-radius: .75rem;

  }

  &[data-pressed] {
    border-radius: 100%;
    border: 2px solid var(--finn);
  }
}

h2 {
  color: var(--finn);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  color: #000000;
  font-size: 3.2em;
  line-height: 1.1;
}

/* background overlay start */
.bg-image-opacity-10 {
  position: relative;
}

.bg-image-opacity-10::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/images/bg-topo1.png'); /* Same path as in your Tailwind config */
  opacity: 0.11; /* 10% opacity */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* background overlay end  */


/* tooltip start */


/* tooltip end */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */